h1 {
    background-color: #575ed7;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: white;
    width: 15%;
    margin: 2rem auto;
}

.container {
    display: flex;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.263);
    margin: 2rem auto;
    padding: 2rem;
    align-items: center;
    gap: 2rem;
    font-size: 1.3rem;
}

.container-left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 30%;
}
.container-right {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 60%;
}

img {
    border-radius: 50%;
    width: 20rem;
}

.border {
    border-left: 2px solid green;
    height: 25rem;
}
