@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #CCF381;
    overflow-x: hidden;
}

.heading{
    font-size: 3rem;
    font-weight: 600;
}
.text-center{
    text-align: center;
}
.margin-center{
    margin: 0px auto;
}
.fw300{font-weight: 300;}
.fw400{font-weight: 400;}
.fw500{font-weight: 500;}
.fw600{font-weight: 600;}
.nav-list {
    background-color: #0D1282;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 1rem;
    position: relative;
}

.nav-list li a {
    font-weight: 400;
    padding: 0 1.5rem;
    font-size: 1.2rem;
    color: #EEEDED;
    text-decoration: none;
}

.nav-list li:hover {
    color: rgb(216, 216, 216);
    text-decoration: underline;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    right: 150px;
    width: 10rem;
}

.dropdown-menu:hover .dropdown {
    display: block;
}

.dropdown {
    display: none;
    width: max-content;
    position: absolute;
    background-color: #0d1382e0;
    padding: 1rem;

}

.dropdown ul a {
    font-size: 1.1rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 300;
    display: block;
    padding: 1rem;
}

.dropdown ul a:hover {
    background-color: #575ed7;
}

footer{
    color: white;
    background-color: black;
    padding: 1rem;
}
footer p{
    text-align: center;
    font-weight: 500;
}
@media (max-width:400px) { 
    .nav-list li a {
        margin-bottom: 0.5rem;
    }
    .nav-list{
     align-items: center;
    }  
}

@media (max-width:400px) {
   
    .nav-list li a {
        margin-bottom: 0.5rem;
    }
    .nav-list{   
        align-items: center;
    }    
}
@media (max-width:850px) {
    .dropdown-menu {
        position: static;
    }
}

